.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
nav ul li {
  display: inline-block;
  padding: 1em;
}
.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon{
  display: none;
  cursor: pointer;
}